將以下問卷資料的職業(Profession) 欄位缺失值填入字串 'others'，

更進一步將字串做編碼。 

此時用什麼方式做編碼比較適合？為什麼？

import pandas as pd 

q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])

In [1]:
import pandas as pd

q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])

q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [2]:
q_df.fillna('others')

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [8]:
df1 = pd.get_dummies(q_df['Sex'])
df2 = pd.get_dummies(q_df['Profession'])

pd.concat([q_df, df1, df2], axis = 1) #one-hot encoding since sex and profession are not ordinal

      Sex Profession  female  male  engineer  teacher
0    male    teacher       0     1         0        1
1    male   engineer       0     1         1        0
2  female       None       1     0         0        0
3  female   engineer       1     0         1        0