#read_data: 

1.fast .pkl
2. groupby+agg much faster than self-defined (lambda) function, agg faster than transform
3. filtering: isin() fast

In [2]:
#demonstration

import pandas as pd
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])
SCORE = score_df.set_index("student_id")

SCORE

            math_score  english_score  chinese_score   sex  class
student_id
1                   50             80             70   boy      1
2                   60             45             50   boy      2
3                   98             43             55   boy      1
4                   70             69             89   boy      2
5                   56             79             60  girl      1
6                   60             68             55  girl      2
7                   45             70             77  girl      1
8                   55             77             76  girl      2
9                   25             57             60  girl      1
10                  88             40             43  girl      3
11                  25             60             45   boy      3
12                  80             60             23   boy      3
13                  20             90             66  girl      3
14                  50             50             50  girl      3
15                  89             67             77  girl      3

In [13]:
#1. groupby + agg
import time

start_1 = time.time()
SCORE.groupby('class').agg('mean')
end_1 = time.time()

end_1 - start_1

0.003011941909790039

In [14]:
#2. groupby+ lambda

start_2 = time.time()
SCORE.groupby('class').agg(lambda x: x.mean())
end_2 = time.time()

end_2 - start_2

0.014430046081542969

In [20]:
#filter math_score pass
#1. >=

start1 = time.time()
SCORE['pass_math'] = SCORE.math_score >= 60
end1 = time.time()

end1 - start1

0.0009212493896484375

In [21]:
#2. isin()
start2 = time.time()
SCORE['pass_math'] = SCORE.math_score.isin(range(60,100)) 
end2 = time.time()

end2 - start2

0.0007429122924804688

題目 : 
    
Q1:在速度較慢的時候，可以先從哪邊開始檢查？


看看使用的函數是否是內建函數

Q2:資料過大時應採取什麼方式讓記憶體占用量下降？

欄位的型態降級 (eg: float64 --> float32)